* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: AvenirNextCyr, sans-serif;
}
A {
    text-decoration: none; 
   } 
.header_inner{
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 75px;
    border-bottom: 4px solid gray; 
}
.head_logo{
    font-size: 24px;
    float:left;
    color: #e2001a;
    padding-top:30px;
    text-align: center;
    width: 180px;
    font-family: Comfortaa;
    font-weight:bold; 
}
.head_logo:hover{
    background-color: black;
    color:white;
    height: 100%;
}

.navigator .header_menu>li {
    float: left;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
    list-style: none;

}
.navigator .header_menu>li>a{
    color: #4a4a4a;
    height: 75px;
    font-size: 14px;
    font-weight: 200;
    font-family: Comfortaa;
    font-weight:bold; 
    text-transform: uppercase;
}
.navigator .header_menu>li{
    cursor: pointer;
}
.navigator .header_menu>li:hover{
    background-color: red;
}
.navigator .header_menu>li:hover a{
    color:white;
    font-size: 15px;
}
.navigator .header_menu .header_text{
    padding-top:32px;
}
.navigator{
    float: right;
}
.page-main{
    background-image:url(footerBackground.png);
    font-family: Comfortaa;
}

.page-main-title{
    width: auto;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 16px;
    font-size: 36px;
}
.news-item {
    display: flex;
    position: relative;
    padding: 1em;
    overflow: hidden;
    margin-top: 10px;
    height: 22%;
    -webkit-box-shadow: 0 0 7px 0 rgba(182, 182, 182, 0.9);
    box-shadow: 0 0 7px 0 rgba(182, 182, 182, 0.9);
    border-radius: 7px;
}
.news-item img{
    width: 20%;
    min-width: 140px;
}
.container{
    padding: 2em;
}
h3 {
    font-size: 1.17em;
}
.footer {
    background-color: gray;
    padding-bottom: 0;
    padding: 1.625rem ; 
    text-align: center;
}
@media screen and (max-width: 600px){
    h3 {
        font-size: 1em;
    }  
    .navigator .header_menu>li>a{
        font-size: 8px;
    }
    .head_logo{
        font-size: 15px;
        float:left;
        color: #e2001a;
        padding-top:30px;
        text-align: center;
        width: 120px;
        font-family: Comfortaa;
        font-weight:bold; 
}
.news-item img {
    width: 140px;
}
}
@media screen and (max-width: 430px){
    .collumn-main h2{
        font-size: 3em;
    }
   .navigator .header_menu>li>a{
       font-size: 8px;
   }
   .head_logo{
       font-size: 15px;
       float:left;
       color: #e2001a;
       padding-top:30px;
       text-align: center;
       width: 120px;
       font-family: Comfortaa;
       font-weight:bold; 
   }
   .navigator .header_menu > li {
    float: left;
    padding-left: 0px;
    padding-right: 20px;
    height: 50px;
    list-style: none;
}
  
}

