* {
    margin: 0px;
    padding: 0px;
    
        box-sizing: border-box;
     
}
body{
    font-family: AvenirNextCyr, sans-serif;
}
A {
    text-decoration: none; 
   } 
.header_inner{
    background-color: white;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 75px;
    border-bottom: 4px solid gray; 
}
.head_logo{
    font-size: 24px;
    float:left;
    color: #e2001a;
    padding-top:30px;
    text-align: center;
    width: 180px;
    font-family: Comfortaa;
    font-weight:bold; 
}
.head_logo:hover{
    background-color: black;
    color:white;
    height: 100%;
}

.navigator .header_menu>li {
    float: left;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
    list-style: none;

}
.navigator .header_menu>li>a{
    color: #4a4a4a;
    height: 75px;
    font-size: 14px;
    font-weight: 200;
    font-family: Comfortaa;
    font-weight:bold; 
    text-transform: uppercase;
}
.navigator .header_menu>li{
    cursor: pointer;
}
.navigator .header_menu>li:hover{
    background-color: red;
}
.navigator .header_menu>li:hover a{
    color:white;
    font-size: 15px;
}
.navigator .header_menu .header_text{
    padding-top:32px;
}
.navigator{
    float: right;
}

  .shopping-cart {
    width: 70%;
    height: 700px;
    margin: 90px auto;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-image:url(footerBackground.png);
  }

  .title {
    height: 60px;
    border-bottom: 2px solid #E1E8EE;
    padding: 20px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400px;
  }
   
  .item {
    padding: 10px;
    height: 200px;
    line-height: 2em;
    overflow: hidden;
    display: flex;
  }
   
  .item:nth-child(3) {
    border-top:  2px solid #E1E8EE;
    border-bottom:  2px solid #E1E8EE;
  }
 
  .image {
    margin-right: 50px;
    position:relative;
    float: left;
    width:150px;
    height:150px;
    overflow:hidden;
    padding-bottom: 50px;
  }
  .image img{
    position:absolute;
    width:150px;
    height:150px;
    padding-bottom: 5px;
  }
  .total-price {
    width: 83px;
    float: right;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    margin-left: auto;
  }
  .description {
    padding-top: 10px;
    width: 115px;
   

  }
   
  .description span {
    display: block;
    font-size: 16px;
    color: #43484D;
    font-weight: 400;
  }
  .send-btn input[type=submit] {
    
    width: 20%;
    float: right;
    padding: 8px 5px;
    background: #e2001a;   
    border-radius: 5px;
    border: 1px solid #4e3043;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}
.footer {
  background-color: gray;
  padding-bottom: 0;
  padding: 1.625rem ; 
  text-align: center;
}
@media screen and (max-width: 680px){
        
  .navigator .header_menu>li>a{
      font-size: 8px;
  }
  .send-btn input[type=submit] {
     width: auto; 
  }
  .shopping-cart {
     width: 100%; 
     margin: 0px; 

}
  .head_logo{
      font-size: 15px;
      float:left;
      color: #e2001a;
      padding-top:30px;
      text-align: center;
      width: 120px;
      font-family: Comfortaa;
      font-weight:bold; 
}
.image img{
  position:absolute;
  width:125px;
  height:125px;
  padding-bottom: 5px;
}
.item {
 
   height:150px; 

}
}
@media screen and (max-width: 430px){
  .collumn-main h2{
      font-size: 3em;
  }
 .navigator .header_menu>li>a{
     font-size: 8px;
 }
 .head_logo{
     font-size: 15px;
     float:left;
     color: #e2001a;
     padding-top:30px;
     text-align: center;
     width: 120px;
     font-family: Comfortaa;
     font-weight:bold; 
 }
 .navigator .header_menu > li {
  float: left;
  padding-left: 0px;
  padding-right: 20px;
  height: 50px;
  list-style: none;
}

}